.shopping-cart {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  grid-template-areas:
  'order-list'
  'order-form';

}
.grid-area-list {
  grid-area: order-list;
}
.grid-area-form {
  grid-area: order-form;
  display: grid;
  gap: 0.5rem;
  padding: 0.5rem;
  place-content: center;


}
.order-form {
  display:flex;
  flex-direction: column;
  gap:0.5rem;
  padding: 1rem;
  background-color: aliceblue;
}
fieldset {
  padding: 0.5rem;
}
legend {
  padding-inline: 0.5rem;
}
input {
  padding: 0.3rem;
}
