.shopping-cart {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  grid-template-areas:
  'order-list'
  'order-form';

}
.grid-area-list {
  grid-area: order-list;
}
.grid-area-form {
  grid-area: order-form;
  display: grid;
  gap: 0.5rem;
  padding: 0.5rem;
  place-content: center;


}
form {
  background-color: aliceblue;
}
