<section class="shopping-cart">
  <div class="grid-area-list">

  </div>
  <div class="grid-area-form">
    <form (ngSubmit)="onSubmit()" [formGroup]="orderForm" class="order-form">
      <fieldset>
        <legend> First name </legend>
        <input type="text" name="first-name" id="first-name" [formControlName]="'firstName'">
      </fieldset>
      <fieldset>
        <legend> Last name </legend>
        <input type="text" name="last-name" id="last-name" [formControlName]="'lastName'">
      </fieldset>
    </form>
  </div>
</section>
