<section class="shopping-cart">
  <div class="grid-area-list">
    <table>
      <tr>
        <th>Products</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Total</th>
      </tr>
      <tr *ngFor="let item of cartItems">
        <td>
          {{item.name}}
        </td>
        <td>
          {{item.quantity}}
        </td>
        <td>
          {{item.price}}
        </td>
        <td>
          {{item.quantity * item.price}}
        </td>
      </tr>

    </table>

    <div class="total">
      <p> <strong>Total value:</strong> {{total}} </p>
    </div>
  </div>
  <div class="grid-area-form">
    <form (ngSubmit)="onSubmit()" [formGroup]="orderForm" class="order-form">
      <fieldset>
        <legend> First name </legend>
        <input type="text" name="first-name" id="first-name" [formControlName]="'firstName'">
      </fieldset>
      <fieldset>
        <legend> Last name </legend>
        <input type="text" name="last-name" id="last-name" [formControlName]="'lastName'">
      </fieldset>
      <fieldset [formGroupName]="'address'">
        <legend> City </legend>
        <input type="text" name="city" id="city"  [formControlName]="'city'">
      </fieldset>
      <button [disabled]="!orderForm.valid">Confirm order</button>
    </form>
  </div>
</section>
