.shopping-cart {
  display: grid;
  grid-template-columns: 1fr;
  width:auto;
  margin-top: 1rem;
  row-gap:1rem;
  padding-inline: 0.1rem;

  grid-template-areas:
  'order-title'
  'order-list'
  'order-form';

}
@media screen and (min-width:600px) {
  .shopping-cart {
    padding-inline: 0.5rem;
  }

}

.grid-area-title {
  grid-area: order-title;
}

.grid-area-list {

  grid-area: order-list;
  background-color: aliceblue;
  margin-inline: 0.5rem;

}

.grid-area-form {
  grid-area: order-form;
  display: grid;
  gap: 0.5rem;
  padding: 0.5rem;
  place-content: center;

}
.order-title {
  background-color: black;
  color: whitesmoke;
  text-align: center;
  padding: 1rem;
  margin-inline: 0.5rem;
}
.order-form {
  display:flex;
  width: 95vw;
  flex-direction: column;
  gap:0.5rem;
  padding: 1rem;
  background-color: aliceblue;
}
.hide-order-form {
  display: none;
}
.hide-order-table {
  display: none;
}
@media screen and (min-width:900px){
  .order-form {
    /* width: 55vw; */
    width: 800px;
  }
}
.msg-empty {
  font-size: 1rem;
  color: red;
}
.total {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 2rem;
  width: 100%;
  min-height: 4rem;
  background-color: rgb(186, 204, 236);
  border: 2px solid black;
  border-top: none;
}
.quantity-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 1.6rem;
}
.delete-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  padding: 0.5rem;
  width: auto;
}
.quantity {
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.item-name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;


}
.counter {
  width: 100%;
  /* min-width: 4rem; */
}
@media screen and (min-width:600px){
  .counter {
    min-width:4rem;
  }
}
.name {
  width: 100%;
}
.price {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.item-total {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* min-width: 150px; */
}
.confirm-button {
  min-height: 2rem;
  padding: 0.3rem;
  border: none;
  border:1px solid black;
  font-weight: bold;
  letter-spacing: 0.125rem;
  background-color: rgb(194, 245, 194);
}
.confirm-button:hover:not([disabled]) {
  background-color: rgb(64, 216, 64);
}
fieldset {
  padding: 0.5rem;
}
legend {
  padding-inline: 0.5rem;
}
input {
  width: 100%;
  padding: 0.3rem;
}
table {
  width: 100%;
  border: 2px solid black;

}

th {
  border: 2px solid black;
}
td {
  text-align: center;
  padding: 0.3rem;
  border-bottom: 1px solid black;

}

