<section class="about">
  <div class="about-title grid-area-title">
    <h2>About</h2>
  </div>

  <div class="about-info grid-area-info">
    <div class="description-title">
      <p>This page has been created for my CV using Angular.</p>
      <p>This is a simple online store(shopping-cart,product-list).</p>
    </div>
    <section class="description">
      <p>Using among others:</p>
      <ul class="list">
        <li>observables</li>
        <li>reactive forms</li>
        <li>form validation</li>
        <li>services</li>
        <li>event,property data bind</li>
      </ul>

    </section>
    <section class="sources">
      <p>All images come from:  <a href="https://www.pexels.com">Pexels</a></p>
    </section>
  </div>

  <a [routerLink]="'/'">back</a>
</section>
