.navigation-button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 4em;
  padding: 0.5em;

}
@media screen and (min-width: 600px) {
  .navigation-button {
    mix-blend-mode: multiply;
  }
}
.bg-img-center {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.navigation-button-shadow {
  box-shadow: 3px 3px 5px 1px black;
}
.navigation-button:hover {
  cursor: pointer;
  mix-blend-mode:  initial;
  text-decoration: underline;
  text-underline-offset: 0.5em;
}
.button-text {
  font-size: 2rem;
  font-weight: bold;
  font-family: Arial;
  color: aliceblue;
  line-height: 1.5em;
  text-align: center;
  /* white-space: nowrap; */
  text-shadow: 3px 3px 3px black;
}
@media screen and (min-width: 600px) {
  .button-text {
    font-size: 2.3rem;
  }
  .navigation-button {
    min-height: 16rem;
  }
}
@media screen and (min-width: 800px) {
  .navigation-button {
    min-height: 20rem;
  }
  .button-text {
    font-size: 3rem;
  }
}

@media screen and (min-width: 960px) {
  .navigation-button {
    min-height: 20rem;
  }
  .button-text {
    font-size: 3.5rem;
  }
}
