.product-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
  'info'
  'items';
  margin-inline: 0.5em;
  gap:1em;

}
.product-list:first-child {
  margin-top: 1em;
}
.grid-area-info {
  grid-area: info;
}
.grid-area-items {
  grid-area: items;
}
.list-info {
  border: 2px solid black;
}
.category {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1em;
  min-height: 5em;
  background-color: var(--color-bg-product-list);

}
.category-bg-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.description {
  height: auto;
  text-align: left;
  padding: 0.5em;
  line-height: 1.3em;
  background-color: var(--color-bg-product-list);
}
@media screen and (min-width:800px) {
  .product-list {
    width: 60%;
    margin: auto;

  ;
  }
}
