.product-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  width:auto;
  height: auto;
  margin-inline: 0.5em;
  gap:1em;
  place-content: top center;
  /* background-color: aqua; */


}
.product-list:first-child {
  margin-top: 1em;
}
.category {
  background-color: var(--color-bg-product-list);
}
.description {
  background-color: var(--color-bg-product-list);
}
@media screen and (min-width:800px) {
  .product-list {
    width: 60%;
    margin: auto;

  ;
  }
}
