<section class="product-list">
  <div class="list-title grid-area-title">
    <h2>Products</h2>
  </div>

  <div class="list-info grid-area-info">
    <h2 class="category category-bg-img category-text" [style]="{'background-image':bgImage,'text-shadow':shadow}">{{category}}</h2>
    <section class="description">
      {{description}}
    </section>
  </div>
  <div class="list-items grid-area-items">
    <app-product *ngFor="let item of products" [product]="item" (addToCart)="onAddToCart($event)"></app-product>
  </div>
  <a [routerLink]="'/'">back</a>
</section>
