.product-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  width:auto;
  gap:1em;
  height: 100%;
  /* place-self: top center; */

}
.product-list:first-child {
  margin-top: 1em;
}
@media screen and (min-width:800px) {
  .product-list {
    place-items: start center;

  ;
  }
}
