.product {
  display: grid;
  grid-auto-columns: 1fr;
  gap: 0.4em;
  grid-template-areas:
  /* 'category category category ' */
  'name name price'
  'quantity quantity quantity'
  'description description description';
  background-color: var(--color-bg-product);


}

.grid-area-name {
  grid-area: name;
  background-color: rgb(24, 104, 224);
}
.product-name {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;

}
.grid-area-price {
  grid-area: price;
  display: grid;
  place-content: center;

}
.grid-area-quantity {
  grid-area: quantity;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: black; */



}
.grid-area-description {
  grid-area: description;
}
.border-2-black {
  border: 2px solid black;
}
.grid-area-padding {
  padding: 0.5em;
}
.product-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap:0.1rem;
  border-style: none;
  width:15%;
  height: 60%;
  border: 1px solid black;
  color:black;
  background-color: aliceblue;
  border-radius: 2%;
  padding: 0.2em;
}

.product-button-text {
  text-align: center;
  font-size: 2.2rem;
  font-weight: bold;
}
.quantity-counter {
  display: flex;
  gap:1em;
  align-items: center;
  justify-content: center;


}
label.quantity {
 display: flex;
 align-items: center;
 justify-content: center;
 min-width: 4rem;
 min-height: 4rem;
 height: auto;
 width: auto;
 padding: 0.1rem;
 border: 2px solid black;
 border-radius: 100%;
}
.label-text {
  font-size: 1.5rem;
  font-weight: bold;
}

