<div class="product">
  <div class="grid-area-category border-2-black grid-area-padding ">
    <p> {{product.category}}</p>
  </div>

  <div class="grid-area-name border-2-black grid-area-padding ">
    <p>{{product.name}}</p>

  </div>
  <div class="grid-area-price border-2-black grid-area-padding ">
    <p>Price: {{product.price}}</p>

  </div>
  <div class="grid-area-quantity border-2-black grid-area-padding ">
    <span>Quantity:</span>
    <label >{{product.quantity}}</label>
    <button  class="product-button product-button-text" (click)="subtract()">-</button>
    <button class="product-button product-button-text" (click)="add()">+</button>
  </div>
  <div class="grid-area-description border-2-black grid-area-padding ">
    <p>description: {{product.description}}</p>

  </div>


</div>
