.product {
  display: grid;
  grid-auto-columns: 1fr;
  gap: 0.4em;
  grid-template-areas:
  /* 'category category category ' */
  'name name price'
  'description description description'
  'quantity quantity quantity'
  'add-button add-button add-button';

  background-color: var(--color-bg-product);


}

.grid-area-name {
  grid-area: name;
  /* background-color: rgb(123, 233, 128); */
  min-height: 5rem;
}
.product-name {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

}
.product-name-text {
  font-size: 1.2rem;
  font-weight: bold;
}
.grid-area-price {
  grid-area: price;
  display: grid;
  place-content: center ;
  font-size: 1.2rem;

}
.grid-area-price p {
  text-align: center;

}
.grid-area-quantity {
  grid-area: quantity;
  display: flex;
  gap: 0.2rem;
  align-items: center;
  justify-content: space-between;
  /* background-color: black; */



}
.grid-area-description {
  grid-area: description;
}
.grid-area-add-button {
  grid-area: add-button;
  padding: 2px;
}
.border-2-black {
  border: 2px solid black;
}
.grid-area-padding {
  padding: 0.5em;
}
.product-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap:0.1rem;
  border-style: none;
  width:15%;
  height: 100%;
  border: 2px solid black;
  /* color:black; */
  background-color: black;
  border-radius: 2%;
  padding: 0.2em;
}
.product-button:hover {
  cursor: pointer;
}
.product-button-text {
  text-align: center;
  font-size: 2.2rem;
  font-weight: bold;
}
.quantity-counter {
  display: flex;
  gap:1em;
  align-items: center;
  justify-content: center;
  width: 100%;


}
label.quantity {
 display: flex;
 align-items: center;
 justify-content: center;
 min-width: 4rem;
 min-height: 4rem;
 width: 100%;
 padding: 0.1rem;
 border: 2px solid black;
 background-color: lightcyan;

}
.label-text {
  font-size: 1.5rem;
  font-weight: bold;
}
.add-button {
  width: 100%;
  min-height: 3rem;
  padding: 0.3rem;
  background-color: black;
  color: aliceblue;
  border: 2px solid rgb(184, 183, 182);
}
.add-button:hover {
  cursor: pointer;
  border: 2px solid green;
}
.add-button:hover > strong {
  color: green;
}
.add-button-text {
  font-size: 1.3rem;
}
