.product {
  display: grid;
  grid-auto-columns: 1fr;
  gap: 0.4em;
  width:auto;
  height: auto;
  grid-template-areas:
  'category category category '
  'name price quantity'
  'description description description';
  background-color: var(--color-bg-product);
  opacity: 0.9;
}

.grid-area-category {
  grid-area: category ;
  grid-column: 1 / 1;
}
.grid-area-id {
  grid-area: id;
}
.grid-area-name {
  grid-area: name;
}
.grid-area-price {
  grid-area: price;
}
.grid-area-quantity {
  grid-area: quantity;
}
.grid-area-description {
  grid-area: description;
}
.border-2-black {
  border: 2px solid black;
}
.grid-area-padding {
  padding: 0.5em;
}
