<div class="product">
  <!-- this div is not used -->
  <!-- <div class="grid-area-category border-2-black grid-area-padding ">
     {{product.category}}
  </div> -->

  <div class="grid-area-name border-2-black grid-area-padding ">
    <p class="product-name">{{product.name}}</p>
  </div>

  <div class="grid-area-price border-2-black grid-area-padding ">
    <p>Price: {{product.price}}</p>
  </div>

  <div class="grid-area-quantity border-2-black grid-area-padding ">
    <button class="product-button product-button-text" (click)="decrease()">-</button>
    <button class="product-button product-button-text"  style="font-size: 1.5rem;" (click)="decreaseBy(10)">-10</button>
    <div class="quantity-counter">
      <label for="quantity">Quantity: </label>
      <input id="quantity" type="number" [formControl]="quantity" min="1" max="1000" size="4">
    </div>
    <button class="product-button product-button-text"  style="font-size: 1.5rem;" (click)="increaseBy(10)">+10</button>
    <button class="product-button product-button-text" (click)="increase()">+</button>

  </div>

  <div class="grid-area-description border-2-black grid-area-padding ">
    <p>description: {{product.description}}</p>
  </div>


</div>
