.app {
 display: grid;
 width: 100vw;
 height: 100vh;
 grid-template-columns: 1fr;
 grid-template-areas:
 'menu'
 'navigation';
}
.app-menu {
  grid-area: menu;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  /* height: 40vh; */
  mix-blend-mode: multiply;
  /* background-color: var(--color-nav-bg); */


}

.app-navigation {

  grid-area: navigation;
  padding-inline:0.3em;
  height: auto;

}
@media screen and (min-width:600px) {
  .app-navigation {
    place-self: center;

    padding-inline:1em;
  }
}
