.app {
 display: grid;
 width: 100vw;
 /* height: auto; */


 grid-template-areas:
 'logo'
 'social-media'
 'menu'
 'content'
 'footer';
}
.logo {
  grid-area: logo;
}
.app-menu {
  grid-area: menu;
  position: sticky;
  top:0px;
  z-index:100;
}
.app-social-media {
  grid-area: social-media;
}
.app-content {
  grid-area: content;
  min-height: 90vh;

}
@media screen and (min-width:600px) {
  .app-content {
    place-self: center stretch;
    /* padding-inline:1em; */
  }
}
.app-footer {
  grid-area: footer;


}
