.app {
 display: grid;
 width: 100vw;
 height: auto;

 grid-template-areas:
 'logo'
 'menu'
 'social-media'
 'navigation';
}
.logo {
  grid-area: logo;
}
.app-menu {
  grid-area: menu;
  position: sticky;
  top:0;
  z-index:1000;
}
.social-media {
  grid-area: social-media;
}
.app-navigation {
  grid-area: navigation;
  height: 100vh;
}
@media screen and (min-width:600px) {
  .app-navigation {
    place-self: center stretch;
    /* padding-inline:1em; */
  }
}
