<main class="app">
  <div class="app-logo">
    <app-logo></app-logo>
  </div>
  <div class="app-social-media">
    <app-social-media></app-social-media>
  </div>
  <nav class="app-menu">
    <app-menu (hamburgerClick)="showMobileMenu()"></app-menu>
    <app-menu-mobile *ngIf="showMenuMobile" (clickCloseIcon)="hideMobileMenu()"></app-menu-mobile>
  </nav>

  <section class="app-content">
    <router-outlet></router-outlet>
  </section>
  <footer class="app-footer">
    <app-footer></app-footer>
  </footer>
</main>
