<div class="menu-mobile">
  <div class="menu">
    <a [routerLink]="['products','Roses']" (click)="clickClose()">Roses</a>
    <a [routerLink]="['products','Bouquets']" (click)="clickClose()">Bouquets</a>
    <a [routerLink]="['products','Flower Arrangements']" (click)="clickClose()">Flower Arrangements</a>
    <a [routerLink]="['products','Plants']" (click)="clickClose()">Plants</a>
    <a [routerLink]="['products','Sunflowers']" (click)="clickClose()">Sunflowers</a>
    <a [routerLink]="['products','Summer flowers']" (click)="clickClose()">Summer flowers</a>
    <a (click)="clickClose()">Close</a>

  </div>
  <div class="transparent">

  </div>
</div>
