/* You can add global styles to this file, and also import other style files */
:root {
  --color-nav-bg: rgb(241, 208, 16);
  --color-menu-text: rgb(247, 183, 8);
}

*,*::before,*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img,picture {
  display: block;
  width: 100%;
}
html,body {
  width: 100%;
  min-height: 100%;
}

body {

  background-image: url('/assets/images/nav/flower-bg-main.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

}
.bg-color-primary {
  background-color: var(--color-nav-bg);
}
.font-Arial {
  font-family: Arial;
}
