/* You can add global styles to this file, and also import other style files */
:root {
  scroll-behavior: smooth;
  --color-text-logo:white;
  --color-text-menu:black;
  --color-text-social-media:white;
  --color-text-social-media-hover:rgb(14, 185, 14);
  --color-menu-text-hover:rgb(59, 10, 105);
  --color-bg-social-media:black;
  --color-bg-menu:rgb(21, 196, 21);
  --color-bg-product:aliceblue;



}

*,*::before,*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img,picture {
  display: block;
  width: 100%;
}
html,body {
  width: 100%;
  min-height: 100%;
}

body {

  background-image: url('/assets/images/bg/bg-main-2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

}
.bg-color-primary {
  background-color: var(--color-nav-bg);
}
.font-Arial {
  font-family: Arial;
}
