.menu {
  display: grid;
  gap: 1.5em;
  grid-auto-columns: 1fr;
  grid-template-areas:
  'hamburger menu-nav menu-nav menu-nav menu-nav cart';
  padding-inline: 1em;
  /* width: 100vw; */
  background-image: linear-gradient(to right bottom,rgb(5, 119, 5),rgb(124, 250, 124),rgb(199, 252, 199));
  border-bottom: 2px solid black;

}

.grid-area-hamburger {
  grid-area: hamburger;
  place-self: center left;



}
.grid-area-menu-nav {
  grid-area: menu-nav;

}
.grid-area-cart {
  grid-area: cart;

}

.hamburger {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  width: 3.5em;
  height: 3.5em;
  padding-inline: 2em;
}
.hamburger span {
  width: 50px;
  height: 4px;
  background-color: var(--color-text-menu);


}
.hamburger:hover {
  cursor: pointer;
}
.hamburger:hover > span {
  background-color: var(--color-menu-text-hover);
  cursor: pointer;
}
.menu-nav {
  display: none;
  align-items: center;
  justify-content: center;

}
@media screen and (min-width:600px) {
  .menu-nav {
    display: flex;
    width:100%;
    justify-content: flex-start;

  }

}
.mobile-menu-nav {
  display:flex;
  align-items: center;
  justify-content: flex-start;
}
.mobile-menu-nav a {
  display: flex;
  align-items: center;
  justify-content: center;
  color:var(--color-menu-text);
}
.mobile-menu-nav-icon {
  padding: 2px;
}
.mobile-menu-nav-active {
  border-bottom: 3px solid black;
  border-top: 3px solid black;
}
@media screen and (min-width:600px) {
  .mobile-menu-nav {
    display: none;
  }
}
.cart {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.cart a {
  position: relative;



}
.cart-icon {

  margin-inline: 1rem;
  color: var(--color-menu-cart-icon-hover);
}
.cart-icon-counter {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top:0.2rem;
  right: 0;
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 100%;
  border: 1px solid black;
  background-color: rgb(245, 229, 9);

}
.cart-icon-counter-text {
  font-size: 0.8rem;
  font-weight: bold;
  color:black;
}
@media screen and (min-width:600px) {
  .cart-icon-counter {
    top:0.2rem;
    right: 1rem;
    width: 1.5rem;
    height: 1.5rem;
  }
}
.cart-icon:hover {

  cursor: pointer;
}
fa-icon[large] {
  display: none;
}

@media screen and (min-width:600px) {
  fa-icon[small] {
    display: none;
  }
  fa-icon[large] {
    display: block;
  }


}
.menu a:not(.submenu a) {
  padding-inline: 0.5em;
  padding-block: 1.0em;
}
.menu-link {
  text-decoration: none;
}
.menu-link-submenu {
  position: relative;
  z-index: 150;
}
.menu-link-submenu:hover > .submenu {
  display: flex;
}
.submenu {
  position: absolute;
  z-index: 150;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.5rem;
  bottom: -250px;
  left: 0;
  padding: 1rem;
  background-image: linear-gradient(45deg,var(--color-bg-menu),white);
  border: 2px solid black;
}
.hide-submenu {
  display: none;
}
.submenu a {
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  padding: 0.2rem;
  color: var(--color-menu-text);
  background-color: var(--);
}
.submenu a:hover {
  color: beige;
}
.menu-link:hover {

  text-decoration: underline;
  text-underline-offset: 10px;
  /* transition: text-decoration 3s ease-in-out 1s; */
}
.menu-link-active {
  text-decoration: underline;
  text-underline-offset: 10px;
}
.menu-text {
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: 3px;
  text-transform: capitalize;
  /* text-shadow: 3px 3px 3px  rgb(3, 1, 27); */
  color: var(--color-menu-text);
  opacity: 1;
}
@media screen and (min-width:600px) {
  .menu-text {
    font-size: 1.5rem;
  }

}
@media screen and (min-width:800px) {
  .menu-text {
    font-size: 2rem;
  }

}

