.menu {
  display: grid;
  gap: 1.5em;
  grid-auto-columns: 1fr;
  grid-template-areas:
  'hamburger menu-nav menu-nav menu-nav menu-nav cart';
  padding-inline: 1em;
  width: 100vw;
  background-image: linear-gradient(to right bottom,rgb(5, 119, 5),rgb(124, 250, 124),rgb(199, 252, 199));
  mix-blend-mode: normal;
  border-bottom: 2px solid black;

}

.grid-area-hamburger {
  grid-area: hamburger;
  place-self: center left;



}
.grid-area-menu-nav {
  grid-area: menu-nav;

}
.grid-area-cart {
  grid-area: cart;

}

.hamburger {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  width: 3.5em;
  height: 3.5em;
  padding-inline: 2em;
}
.hamburger span {
  width: 50px;
  height: 4px;
  background-color: var(--color-text-menu);


}
.hamburger:hover {
  cursor: pointer;
}
.hamburger:hover > span {
  background-color: var(--color-menu-text-hover);
  cursor: pointer;
}
.menu-nav {
  display: none;
  align-items: center;
  justify-content: center;

}
@media screen and (min-width:600px) {
  .menu-nav {
    display: flex;
    width:100%;
    justify-content: flex-start;

  }

}

.cart {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.cart-icon:hover {

  color: var(--color-menu-cart-icon-hover);
  cursor: pointer;


}
.menu a {
  padding-inline: 0.5em;
  padding-block: 1.0em;
}
.menu-link {
  text-decoration: none;
}
.menu-link:hover {

  text-decoration: underline;
  text-underline-offset: 10px;
  /* transition: text-decoration 3s ease-in-out 1s; */
}
.menu-text {
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: 3px;
  text-transform: capitalize;
  /* text-shadow: 3px 3px 3px  rgb(3, 1, 27); */
  color: var(--color-menu-text);
  opacity: 1;
}
@media screen and (min-width:600px) {
  .menu-text {
    font-size: 1.5rem;
  }

}
@media screen and (min-width:800px) {
  .menu-text {
    font-size: 2rem;
  }

}

