<nav class=" menu font-Arial">
  <div class="hamburger grid-area-hamburger" (click)="onHamburgerClick()" >
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class=" menu-nav grid-area-menu-nav">
    <a class="menu-link menu-text " [routerLink]="'/'" [routerLinkActive]="'menu-link-active'">home</a>
    <a class="menu-link menu-text " >products</a>

    <a class="menu-link menu-text "  href="">about</a>
  </div>
  <div class=" cart grid-area-cart">
    <a>
      <fa-icon class="cart-icon"  [icon]="faCartShopping" [size]="'2x'"></fa-icon>
    </a>
  </div>
</nav>
