.menu {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  overflow: auto;
  padding: 0.5em;
  opacity: 1;
  width: 100vw;
  background-color: rgb(82, 78, 78);
  mix-blend-mode: hard-light;

}

.menu::after {
  position: absolute;
  margin-inline: auto;
  bottom: 0;
  left: 0;
  content:'';
  width:100%;
  height: 2px;
  margin: auto;
  background-color:black;
}
.cart:hover {
  opacity: 1;
  color: rgb(73, 3, 3);


}
.menu a {
  padding-inline: 0.5em;
  padding-block: 1.5em;
}
.menu-link {
  text-decoration: none;
}
.menu-link:hover {

  text-decoration: underline;
  text-underline-offset: 10px;
  transition: text-decoration 3s ease-in-out 1s;
}
.menu-text {
  font-size: 1.1em;
  font-weight: bold;
  letter-spacing: 3px;
  text-transform: capitalize;
  /* text-shadow: 3px 3px 3px  rgb(3, 1, 27); */
  color: var(--color-menu-text);
  opacity: 1;
}
@media screen and (min-width:600px) {
  .menu-text {
    font-size: 2em;
  }
}
