
.navigation {
  display: grid;
  grid-auto-columns: 1fr;
  /* grid-auto-rows: 1fr auto-fill; */
  grid-template-areas:
  'roses'
  'bouquets'
  'flower-arrangements'
  'plants'
  'sunflowers'
  'summer-flowers';
}
.navigation:first-child {
  margin-top: 0em;
}
.bg-color-roses {
  background-color: rgb(255, 0, 0);
}
.bg-color-bouquets {
  background-color: burlywood;
}
.bg-color-flower-arrangements {
  background-color: rgb(104, 193, 245);
}
.bg-color-plants {
  background-color: coral;
}
.bg-color-sunflowers {
  background-color: rgb(216, 152, 13);
}
.bg-color-summer-flowers {
  background-color:  rgb(54, 218, 54);
}
@media screen and (min-width: 600px) {
  .navigation {
    grid-template-areas:
    'roses bouquets'
    'flower-arrangements  plants'
    'sunflowers summer-flowers';

  }

};
.nav-link-size {
  width: auto;
  height: auto;

}
.nav-link-border {
  border:none;
}
.nav-grid-area-roses {

  grid-area: roses;
}

.nav-grid-area-bouquets {
  grid-area: bouquets;
}

.nav-grid-area-flower-arrangements {
  grid-area: flower-arrangements ;
}

.nav-grid-area-plants {
  grid-area: plants;
}
.nav-grid-area-sunflowers {
  grid-area: sunflowers;
}
.nav-grid-area-summer-flowers {
  grid-area: summer-flowers;
}
