
.navigation {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0.3em;
  grid-template-areas:
  'one'
  'two'
  'three'
  'four'
  'five'
  'six';
  margin-bottom: 1rem;
  overflow: auto;
}
.navigation:first-child {
  margin-top: 0.3em;
}
@media screen and (min-width:600px) {
  .navigation {
    gap: 1em;
    grid-template-areas:
    'one two'
    'three four'
    'five six';
  }
};
.nav-link-size {
  width: auto;
  height: auto;

}
.nav-link-border {
  border:none;
}
.nav-link-1 {

  grid-area: one;
}

.nav-link-2 {
  grid-area: two;
}

.nav-link-3 {
  grid-area: three;
}

.nav-link-4 {
  grid-area: four;
}
.nav-link-5 {
  grid-area: five;
}
.nav-link-6 {
  grid-area: six;
}
