
.navigation {
  display: grid;
  grid-auto-columns: 1fr;
  /* grid-auto-rows: 1fr auto-fill; */
  grid-template-areas:
  'roses'
  'bouquets'
  'flower-arrangements'
  'plants'
  'sunflowers'
  'summer-flowers';
}
.navigation:first-child {
  margin-top: 0em;
}
.bg-color-roses {
  background-color: var(--color-bg-roses);

}
.bg-color-bouquets {
  background-color: var(--color-bg-bouquets);
}
.bg-color-flower-arrangements {
  background-color: var(--color-bg-flower-arrangements);
}
.bg-color-plants {
  background-color: var(--color-bg-plants);
}
.bg-color-sunflowers {
  background-color: var(--color-bg-sunflowers);
}
.bg-color-summer-flowers {
  background-color:  var(--color-bg-summer-flowers);
}
@media screen and (min-width: 600px) {
  .navigation {
    grid-template-areas:
    'roses bouquets'
    'flower-arrangements  plants'
    'sunflowers summer-flowers';

  }
};
@media screen and (min-width: 900px) {
  .navigation {
    grid-template-areas:
    'roses bouquets bouquets plants'
    'flower-arrangements flower-arrangements flower-arrangements  plants'
    'sunflowers sunflowers summer-flowers summer-flowers';

  }
  .nav-grid-area-plants {
    grid-area: plants;
    display: grid;


  }
};
.nav-link-size {
  width: auto;
  height: auto;

}
.nav-link-border {
  border:none;
}
.nav-grid-area-roses {

  grid-area: roses;
}

.nav-grid-area-bouquets {
  grid-area: bouquets;
}

.nav-grid-area-flower-arrangements {
  grid-area: flower-arrangements ;
}

.nav-grid-area-plants {
  grid-area: plants;
}
.nav-grid-area-sunflowers {
  grid-area: sunflowers;
}
.nav-grid-area-summer-flowers {
  grid-area: summer-flowers;
}
