<nav class="navigation " >
  <app-navigation-button [routerLink]="['products',buttonText]" (sendButtonText)="onNavLinkClicked($event)"
    class="nav-grid-area-roses nav-link-size nav-link-border bg-color-roses" [text]="'Roses'"
    [bgImage]="'flower-roses.jpg'">
  </app-navigation-button>
  <app-navigation-button [routerLink]="['products',buttonText]" (sendButtonText)="onNavLinkClicked($event)"
    class="nav-grid-area-bouquets nav-link-size  nav-link-border bg-color-bouquets" [text]="'Bouquets'"
    [bgImage]="'flower-bouquets.jpg'">
  </app-navigation-button>
  <app-navigation-button [routerLink]="['products',buttonText]" (sendButtonText)="onNavLinkClicked($event)"
    class="nav-grid-area-flower-arrangements nav-link-size  nav-link-border bg-color-flower-arrangements"
    [text]="'Flower Arrangements'" [bgImage]="'flower-arrangements.jpg'">
  </app-navigation-button>
  <app-navigation-button [routerLink]="['products',buttonText]" (sendButtonText)="onNavLinkClicked($event)"
    class="nav-grid-area-plants nav-link-size  nav-link-border bg-color-plants" [text]="'Plants'"
    [bgImage]="'flower-plants.jpg'">
  </app-navigation-button>
  <app-navigation-button [routerLink]="['products',buttonText]" (sendButtonText)="onNavLinkClicked($event)"
    class="nav-grid-area-sunflowers nav-link-size  nav-link-border bg-color-sunflowers" [text]="'Sunflowers'"
    [bgImage]="'flower-sunflowers.jpg'">
  </app-navigation-button>
  <app-navigation-button [routerLink]="['products',buttonText]" (sendButtonText)="onNavLinkClicked($event)"
    class="nav-grid-area-spring-flowers nav-link-size  nav-link-border bg-color-spring-flowers"
    [text]="'Spring flowers'" [bgImage]="'flower-spring.jpg'">
  </app-navigation-button>

</nav>
<app-footer></app-footer>
